<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">



    <bean id="testService" class="com.vsicilia.ProjectMgr.service.TestServiceImpl" >
        <constructor-arg ref="testDao"/>
    </bean>

    <bean id="homeController" class="com.vsicilia.ProjectMgr.controller.HomeController">
        <constructor-arg index="0" ref="testService" />
    </bean>

    <bean id="testDao" class="com.vsicilia.ProjectMgr.dao.TestDaoImpl"></bean>

    <bean id="userService" class="com.vsicilia.ProjectMgr.service.UserServiceImpl">
        <constructor-arg index="0" ref="userDao"/>
    </bean>

    <!--MySql Beans-->
    <bean id="dataSource"
          class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://yumojadata.cvrkfv9yl7bo.us-east-2.rds.amazonaws.com:3306/YumojaTest"/>
        <property name="username" value="root"/>
        <property name="password" value="2RLs$AmO$ephE#IcL_Ug"/>
    </bean>

    <!--    <bean id="transactionManager"-->
    <!--          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">-->
    <!--        <property name="dataSource" ref="dataSource"/>-->
    <!--    </bean>-->

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg index="0" ref="dataSource"/>
    </bean>

    <bean id="userDao" class="com.vsicilia.ProjectMgr.dao.UserDaoImpl">
        <constructor-arg index="0" ref="jdbcTemplate"/>
    </bean>

</beans>